--swift-version 6.1
--indent 2
--max-width 100
--wrap-arguments before-first
--wrap-parameters before-first
--wrap-collections before-first
--closing-paren balanced
--trailing-commas always
--type-attributes prev-line
--func-attributes prev-line
--stored-var-attributes prev-line
--computed-var-attributes prev-line
--complex-attributes prev-line
--semicolons never
--strip-unused-args closure-only
--self remove
--import-grouping testable-bottom
--header strip
--linebreaks lf
--disable docComments
--exclude .build,DerivedData
